:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --coffe: #faf3f4;

}

.page {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.header__search:hover,
.header__search:focus {
    cursor: pointer;
    opacity: 0.5;
}

.header__link:hover,
.header__link:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
}

.btn:hover,
.btn:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.btn:active {
    opacity: 0.7;
}

.field:hover,
.field:focus {
    outline: 1px solid red;
}

.field:active {
    outline: 1px solid red;
}

.send:hover,
.send:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.send:active {
    opacity: 0.7;
}

.header {
    background-color: var(--black);

}

.header__nav {
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    bottom: -620px;
    display: none;
    z-index: 2;
}

.header__nav--show {
    display: block;
}

.header__nav-title {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding-top: 34px;
    padding-left: 37px;
}

.menu-item__title {
    font-family: 'Cinzel', serif;
    color: pink;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 33px;
}

.menu-item__sub-item {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-left: 54px;
    padding-bottom: 11px;
    padding-right: 40px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    position: relative;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 31px;
}

.header__menu-btn {
    border: none;
    background-color: transparent;
}

.header__menu-btn:hover,
.header__menu-btn:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
}

.brand {
    display: flex;
}

.brand__wrp {
    background-color: var(--light-pink);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    position: relative;
}

.brand__title::before {
    height: 92px;
    width: 12px;
    background-color: var(--dark-pink);
    content: '';
    position: absolute;
    left: -40px;
    top: 15px;
}

.brand__subtitle {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.brand__subtitle-pink {
    font-family: 'Poppins', sans-serif;
    color: pink;
}

.sales {
    display: flex;
    margin-top: 64px;
    margin-bottom: 97px;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    position: relative;
}

.sales__sub {
    position: absolute;
    top: 105px;
    left: 140px;
}

.sales__sub-more {
    position: absolute;
    top: 65px;
    left: 530px;
}

.sales__item-title {
    font-family: 'Cinzel', serif;
    color: pink;
}

.sales__text {
    font-family: 'Cinzel', serif;
    font-size: 10px;
    color: white;
}

.hot {
    display: flex;
    flex-direction: column;
}

.hot__caption {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px
}

.hot__slogan {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-top: 16px;
    color: #9F9F9F;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 48px;
}

.hot__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hot__item {
    width: 360px;
}

.hot__item-wrp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hot__item-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    display: none;
}

.hot__item-button {
    position: absolute;
    display: none;
}

.hot__item-wrp:hover .hot__item-button,
.hot__item-wrp:hover .hot__item-overlay {
    display: block;
}

.hot__item-title {
    font-family: 'Cinzel', serif;
    margin-top: 25px;
    margin-bottom: 12px;
}

.hot__item-text {
    font-family: 'Lato', sans-serif;
    color: #9F9F9F;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.hot__item-price {
    color: pink;
    margin-top: 18px;
    margin-bottom: 50px;
}

.btn {
    color: pink;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
    border: 2px solid #FF6A6A;

}

.meta__info {
    background-color: var(--black);
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta__info-item {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.meta__info-photo {
    margin-bottom: 20px;
}

.meta__info-cpt {
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    margin-bottom: 10px;
}

.meta__info-txt {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer__photo {
    width: 100%;
}

.footer__bcg {
    position: relative;
}

.footer__sub-photo {
    position: absolute;
    bottom: 350px;
    left: 215px;
    border-radius: 50px;
}

.footer__sub-text {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    bottom: 220px;
    left: 80px;
    width: 360px;
    height: 100px;
    text-align: center;
}

.footer__copy {
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.footer__copy-item {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}

.footer__mail__text {
    font-family: 'Bebas Neue', cursive;
    position: absolute;
    bottom: 300px;
    left: 800px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    width: 360px;
    height: 142px;

}

.footer__mail__subtext {
    font-family: 'Cinzel', serif;
}

.field {
    box-sizing: border-box;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    padding-left: 15px;
    position: absolute;
    left: 800px;
    bottom: 270px;
    background: #E1E1E1;
    border: none;
}

.send {
    border-radius: 0 20px 20px 0;
    height: 50px;
    width: 100px;
    background: #F16D7F;
    border: none;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 1030px;
    bottom: 270px;
}

.footer__social {
    display: flex;
    padding-bottom: 23px;
}

.registration__title {
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    background-color: var(--coffe);
    color: pink;
    height: 148px;
    display: flex;
    align-items: center;
    padding-left: 230px;
}