.footer__list {
    background: rgba(244, 244, 244, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 448px;
}

.footer__list-text {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__list-item {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__sub-photo {
    border-radius: 50px;
}

.footer__sub-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    width: 360px;
    height: 100px;
    text-align: center;
}

.footer__copy {
    background-color: $black;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.footer__copy-item {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}

.footer__mail-text {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    width: 360px;
    height: 142px;
    display: flex;
    justify-content: center;

}

.footer__mail-subtext {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    text-transform: uppercase;
}

.field {
    box-sizing: border-box;
    border-radius: 20px 0 0 20px;
    width: 300px;
    height: 50px;
    padding-left: 15px;
    background: #E1E1E1;
    border: none;
}

.send {
    border-radius: 0 20px 20px 0;
    height: 50px;
    width: 100px;
    background: $dark-pink;
    border: none;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
}

.field:active,
.field:hover,
.field:focus {
    outline: 1px solid red;
}

.send:active,
.send:hover,
.send:focus {
    opacity: 0.5;
    cursor: pointer;
    outline: none;
}

.footer__social {
    display: flex;
    padding-bottom: 23px;
}