.header {
    background-color: $black;

}

.header__search:hover,
.header__search:focus {
    cursor: pointer;
    opacity: 0.5;
}

.header__link:hover,
.header__link:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
}

.header__nav {
    position: absolute;
    background-color: #FFFFFF;
    right: 0;
    bottom: -620px;
    display: none;
    z-index: 2;
}

.header__nav--show {
    display: block;
}

.header__nav-title {
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    padding-top: 34px;
    padding-left: 37px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    position: relative;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 31px;
}

.header__menu-btn {
    border: none;
    background-color: transparent;
}

.header__menu-btn:hover,
.header__menu-btn:focus {
    cursor: pointer;
    outline: none;
    opacity: 0.5;
}