.menu-item__title {
    font-family: 'Cinzel', serif;
    color: pink;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 33px;
}

.menu-item__sub-item {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-left: 54px;
    padding-bottom: 11px;
    padding-right: 40px;
}